@{
    ViewBag.Title = "Home Page";
}

    <form class="form-group col-md-4 col-md-offset-4">
        <a class="form-control btn btn-default col-md-3" href="/Services/Create">New Service</a>
        <a class="form-control btn btn-default col-md-3">Past Services</a>
        <a class="form-control btn btn-default col-md-3">Songs</a>
        <a class="form-control btn btn-default col-md-3">Members</a>
    </form>

<style>
    * {
        outline: 1px solid red;
    }

    body {
        background-color: lightblue;
    }

    .container.body-content {
        background-color: white;
    }
</style>