@{
    ViewBag.Title = "Home Page";
}

<div>
    <form class="form-group">
        <button class="form-control btn btn-default col-md-3">New Service</button>
        <button class="form-control btn btn-default col-md-3">Past Services</button>
        <button class="form-control btn btn-default col-md-3">Songs</button>
        <button class="form-control btn btn-default col-md-3">Members</button>
    </form>
</div>